{% extends 'shop/layout.html' %}

{% block title %} About  {% endblock %}

{% block body %} 

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Abhinav Cart</h1>
        <p>Abhinav Cart is an e-commerce company headquartered in Bangalore, Karnataka, India, and registered in Singapore.[7] The company initially focused on online book sales before expanding into other product categories such as consumer electronics, fashion, home essentials, groceries, and lifestyle products.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div class="row">
          <div class="col-lg-4">
            <img class="rounded-circle" src=" /media/shop/images/IMG-20180306-WA0000.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading1</h2>
            <p>1</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src=" /media/shop/images/IMG-20180306-WA0000.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading2</h2>
            <p>2</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="rounded-circle" src=" /media/shop/images/IMG-20180306-WA0000.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Heading3</h2>
            <p>3</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
          <div class="col-md-7">
            <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
            <p class="lead">abhinavcart</p>
          </div>
          <div class="col-md-5">
            <img class="featurette-image img-fluid mx-auto" src="/media/shop/images/IMG-20180306-WA0000.jpg" alt="Generic placeholder image">
          </div>
        </div>


        <hr class="featurette-divider">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


  </main>


{% endblock %}





















