{% extends 'shop/layout.html' %}

{% block title %} About  {% endblock %}

{% block body %} 

<div class="container col-8">
    <div class="col my-4">
    <h2>step-1: My awesome cart - review cart item</h2>
        <div>
    <ul class="list-group"  id="items">
        
      </ul>
    </div>
    </div>
   <div class="col my-2">
    <h2>step-2: Enter address & details</h2>

    <form class="row g-3" method="POST" action="/shop/checkout/">
        {% csrf_token %}
        <input type="hidden" name="itemJson" id="itemJson">
        <div class="col-md-6">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" id="name" required placeholder="Name" >
          </div>
        <div class="col-md-6">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" name="email" class="form-control" id="email" required placeholder="Email">
        </div>
        
        <div class="col-12">
          <label for="inputAddress1" class="form-label">Address 1</label>
          <input type="text" name="address1" class="form-control" id="address1" required placeholder="Address line-1">
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input type="text" name="address2" class="form-control" id="address2" required placeholder="Address line-2">
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input type="text" name="city" class="form-control" id="city" required placeholder="City">
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
            <input type="text" name="state" class="form-control" id="state" required placeholder="State"> 
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input type="text" name="zip" class="form-control" id="zip" required placeholder="Pin code">
        </div>
        <div class="col-12">
            <label class="form-check-label" for="gridCheck">Phone</label>
            <input type="tel" name="phone" class="form-control" id="phone" required placeholder="phone">    
        </div>

        <div class="col-12">
          <button type="submit" class="btn btn-primary">Place Order</button>
        </div>
      </form>
  </div>
</div>

<!-- ////////////////////// -->
<div class="container">
    <div class="">

    </div>

</div>


{% endblock %}
{% block js %}
<script>

console.log('working');
    if(localStorage.getItem('cart')==null){
        var cart= {};

    }
    else
    {
        cart=JSON.parse(localStorage.getItem('cart'));
    }

console.log(cart);
var sum=0;
if ($.isEmptyObject(cart)){
    mystr = `<b> your cart is empty</b>`

        $('#items').append(mystr);

}else{

    for (item in cart){
    let name= cart[item][1];
    let qty= cart[item][0];
    sum = sum + qty;
    mystr = ` <li class="list-group-item d-flex justify-content-between align-items-center">
          ${name}
          <span class="badge bg-primary rounded-pill">${qty}</span>
        </li>  `

        $('#items').append(mystr);

    }

}

document.getElementById('cart').innerHTML = sum;

$('#itemJson').val(JSON.stringify(cart));



// alert('thanks for ordering, your order. is palced');
// localStorage.clear();
// document.location = "/shop";



</script>

{% endblock %}






















