{% extends 'shop/layout.html' %}

{% block title %} Home  {% endblock %}

    
    {% block css  %}
        
    body {
        background: #e2eaef;
        font-family: "Open Sans", sans-serif;
    }
    h2 {
        color: #000;
        font-size: 26px;
        font-weight: 300;
        text-align: center;
        text-transform: uppercase;
        position: relative;
        margin: 30px 0 60px;
    }
    h2::after {
        content: "";
        width: 100px;
        position: absolute;
        margin: 0 auto;
        height: 4px;
        border-radius: 1px;
        background: #7ac400;
        left: 0;
        right: 0;
        bottom: -20px;
    }
    .carousel {
        margin: 50px auto;
        padding: 0 70px;
    }
    .carousel .item {
        color: #747d89;
        min-height: 325px;
        text-align: center;
        overflow: hidden;
    }
    .carousel .thumb-wrapper {
        padding: 25px 15px;
        background: #fff;
        border-radius: 6px;
        text-align: center;
        position: relative;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }
    .carousel .item .img-box {
        height: 120px;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
    }
    .carousel .item img {	
        max-width: 100%;
        max-height: 100%;
        display: inline-block;
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        left: 0;
        right: 0;
    }
    .carousel .item h4 {
        font-size: 18px;
    }
    .carousel .item h4, .carousel .item p, .carousel .item ul {
        margin-bottom: 5px;
    }
    .carousel .thumb-content .btn {
        color: #7ac400;
        font-size: 11px;
        text-transform: uppercase;
        font-weight: bold;
        background: none;
        border: 1px solid #7ac400;
        padding: 6px 14px;
        margin-top: 5px;
        line-height: 16px;
        border-radius: 20px;
    }
    .carousel .thumb-content .btn:hover, .carousel .thumb-content .btn:focus {
        color: #fff;
        background: #7ac400;
        box-shadow: none;
    }
    .carousel .thumb-content .btn i {
        font-size: 14px;
        font-weight: bold;
        margin-left: 5px;
    }
    .carousel .item-price {
        font-size: 13px;
        padding: 2px 0;
    }
    .carousel .item-price strike {
        opacity: 0.7;
        margin-right: 5px;
    }
    .carousel-control-prev, .carousel-control-next {
        height: 44px;
        width: 40px;
        background: #7ac400;	
        margin: auto 0;
        border-radius: 4px;
        opacity: 0.8;
    }
    .carousel-control-prev:hover, .carousel-control-next:hover {
        background: #78bf00;
        opacity: 1;
    }
    .carousel-control-prev i, .carousel-control-next i {
        font-size: 36px;
        position: absolute;
        top: 50%;
        display: inline-block;
        margin: -19px 0 0 0;
        z-index: 5;
        left: 0;
        right: 0;
        color: #fff;
        text-shadow: none;
        font-weight: bold;
    }
    .carousel-control-prev i {
        margin-left: -2px;
    }
    .carousel-control-next i {
        margin-right: -4px;
    }		
    .carousel-indicators {
        bottom: -50px;
    }
    .carousel-indicators li, .carousel-indicators li.active {
        width: 10px;
        height: 10px;
        margin: 4px;
        border-radius: 50%;
        border: none;
    }
    .carousel-indicators li {	
        background: rgba(0, 0, 0, 0.2);
    }
    .carousel-indicators li.active {	
        background: rgba(0, 0, 0, 0.6);
    }
    .carousel .wish-icon {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 99;
        cursor: pointer;
        font-size: 16px;
        color: #abb0b8;
    }
    .carousel .wish-icon .fa-heart {
        color: #ff6161;
    }
    .star-rating li {
        padding: 0;
    }
    .star-rating i {
        font-size: 14px;
        color: #ffc000;
    }
    
       
 {% endblock %}
 

    {% block body %}
    {% load static %}


<div class="container-xl">
    
    <div class="row">
        {% for product, range in allprods %}
		<div class="col-md-12">
			<h2>{{product.0.cateogry}}<b> Products</b></h2>
            <div id="demo{{forloop.counter}}" class="carousel slide" data-bs-ride="carousel" >
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">

                    <li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="0" class="active" aria-current="true"></li>
                    {% for i in range %}
                   <li data-bs-target="#demo{{forloop.parentloop.counter}}" data-bs-slide-to="{{ i }}" ></li>

                    <!--<li data-bs-target="#demo{{forloop.counter}}" data-bs-slide-to="2"></li>-->
                    {% endfor %}
                </ol>   

                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">

                    <div class="item carousel-item active">
                        <div class="row">

                            {% for i in product|slice:"1:" %}

                            <div class="col-sm-3">
                                <div class="thumb-wrapper">
                                    <span class="wish-icon"><i class="fa fa-heart-o"></i></span>
                                    <div class="img-box">
                                        <img src=" /media/{{i.image}} " class="img-fluid" alt="">									
                                    </div>
                                    <div class="thumb-content">
                                        <h4 id="namepr{{i.id}}">{{i.product_name}}</h4>									
                                        <!-- <div class="star-rating">
                                            <ul class="list-inline">
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star"></i></li>
                                                <li class="list-inline-item"><i class="fa fa-star-o"></i></li>
                                            </ul>
                                        </div> -->

                                        <p class="item-price"><strike>{{i.price}}</strike> <b>{{i.price}}</b></p>
                                        <p class="item-price"><b>{{i.desc | slice:"0:10"}}</b></p>
                                       
                                        <span id="divpr{{i.id}}" class="divpr">
                                        <button id="pr{{i.id}}" class="btn btn-primary cart">Add</button>
                                        </span>

                                        <!-- <a href="/shop/cartitem/{{i.id}} " ><button id="pr{{i.id}}"
                                            class="btn btn-primary cart">Add</button></a> -->

                                        <a href="/shop/productview/{{i.id}}"> <button id="qv{{i.id}}" 
                                            class="btn btn-primary cart">Quick view</button></a>
                                       
                                    
                                    </div>						
                                </div>
                            </div>
                            

                            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}

                        </div>
                    </div>
                    <div class="item carousel-item">
                        <div class="row">
                                    
                            {% endif %}

                            {% endfor %}

                        </div>
                    </div>


                </div>

                <!-- Carousel controls -->
                <a class="carousel-control-prev" href="#demo{{forloop.counter}}" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                </a>
                <a class="carousel-control-next" href="#demo{{forloop.counter}}" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                </a>
            </div>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock %}

{% block js %} 

<script type="text/javascript">
    
    console.log('working');
    if(localStorage.getItem('cart')==null){
        var cart= {};

    }
    else
    {
        cart=JSON.parse(localStorage.getItem('cart'));
        // document.getElementById('cart').innerHTML=Object.keys(cart).length;
        updateCart(cart);
    }


// if the add to cart button clicked then add or increment item in
// cartitem
// $('.cart').click(function(){
    $('.divpr').on('click', 'button.cart', function(){
    console.log('clicked');
    var idstr=this.id.toString();

    if(cart[idstr] != undefined){

        qty=cart[idstr][0] + 1;

    }else{

        qty=1;
        name=document.getElementById('name'+ idstr).innerHTML;

        cart[idstr]=[qty, name];

    }
    updateCart(cart);
    // console.log(cart);
    // localStorage.setItem('cart', JSON.stringify(cart));
    // document.getElementById('cart').innerHTML=Object.keys(cart).length;
    });

// cart fun

function updateCart(cart) {
    var sum = 0;
    for (var item in cart) {
        sum = sum + cart[item][0];
        document.getElementById('div' + item).innerHTML = "<button id='minus" + item + "' class='btn btn-primary minus'>-</button> <span id='val" + item + "''>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-primary plus'> + </button>";
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    document.getElementById('cart').innerHTML = sum;
    console.log(cart);
    // updatePopover(cart);
}

$('.divpr').on("click", "button.minus", function() {
    a = this.id.slice(7, );
    cart['pr' + a][0] = cart['pr' + a][0] - 1;
    cart['pr' + a][0] = Math.max(0, cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});

$('.divpr').on("click", "button.plus", function() {
    a = this.id.slice(6, );
    cart['pr' + a][0] = cart['pr' + a][0] + 1;
    cart['pr' + a][0] =  Math.min(5,cart['pr' + a][0]);
    document.getElementById('valpr' + a).innerHTML = cart['pr' + a][0];
    updateCart(cart);
});


// ///UPDATE POPOVER.............
//$('#popcart').popover();
// updatePopover(cart);
// function updatePopover(cart) {
//     console.log('We are inside updatePopover');
//     var popStr = " ";
//     popStr = popStr + " Cart for your items in my shopping cart ";
//     var i = 1;
//     for (var item in cart) {
//         popStr = popStr + "<b>" + i + "</b>. ";
//         popStr = popStr + document.getElementById('name' + item).innerHTML.slice(0, 19) + "... Qty: " + cart[item][0] + '<br>';
//         i = i + 1;
//     }
//     popStr = popStr + " <a href='/shop/checkout'><button id ='checkout'>Checkout</button></a><button onclick='clearCart()' id ='clearCart'>Clear Cart</button> ";
//     console.log(popStr);
//     document.getElementById('popcart').setAttribute('data-content', popStr);
//     $('#popcart').popover('show');
// }

//////////////////////

//CLEAR CART ITEM IN POPOVER
// function clearCart() {

//     cart = JSON.parse(localStorage.getItem('cart'));
//     for (var item in cart) {

//         document.getElementById('div' + item).innerHTML = '<button id="' + item + '" class="btn btn-primary cart">Add To Cart</button>'
//     }

//     localStorage.clear();
//     cart = {};
//     updateCart(cart);
// }

///////////////


</script>

{% endblock %}