{% extends 'shop/layout.html' %}

{% block title %} {{product.product_name}}- Abhinav Cart  {% endblock %}

{% block body %} 

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <img src=" /media/{{product.image}} " class="img-fluid" alt="">									
        
            <div class="row">
                    <button class="btn btn-primary btn-sm mx-2" >Buy Now</button>
                    <button class="btn btn-primary btn-sm mx-2" >Add to Cart</button>
            </div>
        </div>
        <div class="col-sm-8">
            <h5>{{product.product_name}}</h5>
            <p> {{product.cateogry}} </p>
            <p> {{product.sucateogry}} </p>
            <p> {{product.desc}} </p>
            <p> <b>Rs. {{product.price}} </b></p>

        </div>
    </div>
    
</div>
  


{% endblock %}
{% block js %}
<script>
    console.log('working');
    
    if(localStorage.getItem('cart')==null){
        var cart= {};

    }else{
        cart=JSON.parse(localStorage.getItem('cart'));
        document.getElementById('cart').innerHTML=Object.keys(cart).length;

    }
    $('.cart').click(function(){
        console.log('clicked');
        var idstr=this.id.toString();
        console.log(idstr);
        if(cart[idstr] != undefined){
            cart[idstr]=cart[idstr]+1;
        }else{
            cart[idstr]=1;


        }
        console.log(cart);
        localStorage.setItem('cart', JSON.stringify(cart))
        document.getElementById('cart').innerHTML=Object.keys(cart).length;

    
    
    });


    $('#popcart').popover.show()
    document.getElementById('popcart').setAttribute('data-content', '')

</script>
{% endblock %}




















